<%- include ('header.ejs') %>
    <div class="form-container">
        
       <form method="post">
        <input type="text" value="<%=Reg%>" disabled>
        <br>
        <input type="text" value="<%=det.Name%>" disabled>
        <br>
        <% (det.subNames).forEach(function(data){%>
            <label for="<%data%>"><%=data%> Marks</label>
            <input type="Number" name="Marks" id=<%data%> min="0" required>
         <% }) %>
        <button class="btn" type="submit">Complete</button>
       </form>

    </div>
</body>
</html>