<%- include ('header.ejs') %>
    <div class="container">
        <% if(mesg === "success") {%>
          <div class="message">
          <h2>Data Added</h2>
          <a href="/"><button>See all Datas Here</button></a>
          <a href="/add"><button>Add Another Data</button></a>
          </div>
          <%} %>
          <% if(mesg === "failure"){%>
            <div class="message">
            <h2>Unable to add Data</h2>
            <h5>error ::<%= err %></h5>
          </div>
            <a href="/"><button>See Data Here</button></a>
            <% }%>
    </div>
</body>
</html>