<%- include ('header.ejs') %>
    <div class="form-container">
        
         <div class="message"><%= message %></div>
            <% if(flag) { %>
         <% (subj.Subjects).forEach( function(element) {%>
            <div class="sub">
                   <p><%=element%></p>
            </div>
         
        <%})}%>
      
        <form method="post">
            <input type="text" name="subName" placeholder="subject Name" required>
            <input type="number" name="total" placeholder="Enter total marks of Subject" required>
            <button class="btn" type="submit">Add</button>
        </form>

    </div>
</body>
</html>